<!DOCTYPE HTML>
<html>
<head> 
    <title>IMDb prototype scraper</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    Sample usage: <a href="/request?title=tt0118715">/request?title=tt0118715</a>
    
    <form action="#" th:action="@{/request}" th:object="${request}" method="post">
    	<p>Title: <input type="text" th:field="*{title}" /></p>
    	<p>Titles: <input type="text" th:field="*{titles}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    
    
</body>
</html>
