body {
/* 	padding-left: 100px; */
	padding-bottom: 30px;
/* 	max-width: 40em; */
}

a {
	color: #0079d3;
}

h1 {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.container {
	max-width: 60em;
}

.stats h3 {
	padding-top: 20px;
}

.titleEntry th {
	text-align: right;
	vertical-align: top;
	padding-right: 20px;
	width: 130px;
}

.personStats td, .personStats th {
	padding: 5px 20px;
	text-align: left;
}

.titleEntry {
	padding-bottom: 20px;
}

#basicInfo {
	padding-bottom:20px;
}

.instructions h2 {
	padding-top: 40px;
}

.instructions th {
	text-align: right;
	padding-right: 10px;
}

.instructions input[type=text] {
	width: 100%;	  
}

#noResults {
	padding-top: 100px;
}

.returnLink {
	float: right;
}