<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>IMDb Demo</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1><a th:href = "${title.url}" th:text="${title.titleAndYear}" target="_BLANK">Title</a></h1>	

	<table>
		<tr><th>Rating</th><td th:text="${title.rating} ? ${title.rating} : 'Not found :('">Rating</td></tr>
		<tr><th>Genres</th><td th:text="${title.genres} ? ${title.genres} : 'Not found :('">Genres</td></tr>
 		<tr><th>Director</th> <!--there can be multiple directors! -->
			<td> 
				 <th:block th:each="director: ${title.directors}">  		    
	        		<a th:href="${director.url} ? ${director.url}" th:text="${director.name} ? ${director.name} : 'Not found :('" target="_BLANK">Director</a>
	    		</th:block>
	    	</td>
		</tr>
		<tr><th>Actors</th>		
  			<td>
	  		    <th:block th:each="actor: ${title.primaryActors}">  		    
	        		<a th:href="${actor.url} ? ${actor.url}" th:text="${actor.name} ? ${actor.name} : 'Not found :('" target="_BLANK">Actors</a>
	    		</th:block>
    		</td>
  		</tr>
  	</table>  	
</body>
</html>
