<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>IMDb Demo</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" type="text/css" media="all" href="../../style.css" th:href="@{/style.css}" />
</head>
<body>

	<th:block th:each="title: ${titles}"> 
	<div class="entry">
		<h1><a th:href = "${title.url}" th:text="${title.titleAndYear}" target="_BLANK">Title</a></h1>	
		<h4 class="subtitle" th:text="${title.subTitle} ? ${title.subTitle}"></h4>
		
		<table>
			<tr><th>Rating</th><td th:text="${title.rating} ? ${title.rating} : 'Not found :('">Rating</td></tr>
			<tr><th>Genres</th><td th:text="${title.genres} ? ${title.genres} : 'Not found :('">Genres</td></tr>
	 		<tr><th th:text="${title.directorFunctionName}"></th> <!--there can be multiple directors/creators! -->
				<td> 
					 <th:block th:each="director: ${title.directorsOrCreators}">  		    
		        		<a th:href="${director.url} ? ${director.url}" th:text="${director.name} ? ${director.name} : 'Not found :('" target="_BLANK">Director</a>
		    		</th:block>
		    	</td>
			</tr>
			<tr><th>Actors</th>		
	  			<td>
		  		    <th:block th:each="actor: ${title.primaryActors}">  		    
		        		<a th:href="${actor.url} ? ${actor.url}" th:text="${actor.name} ? ${actor.name} : 'Not found :('" target="_BLANK">Actors</a>
		    		</th:block>
	    		</td>
	  		</tr>
	  		<tr><th>Summary</th><td th:text="${title.summaryText} ? ${title.summaryText} : 'Not found :('">Rating</td></tr>
	  	</table>  
  	</div></th:block>	
</body>
</html>
